#arrayNum{
    width: 30%;
    height: 10%;
    display: inline-block;
}

#res{
    display:block;
}

.numeros{
    width:50px;
    height: 100%;
    text-align: center;
    display: inline-block;
}

